Report/*.aux
Report/*.log
Report/*.out
# example/example.pdf
Report/*.synctex.gz
Report/*.bbl
Report/*.blg
Report/*.pdf
**/~$*.doc
**/*.asv
.idea/*
.vscode/*
Report/figures/Batch*
data/resultA/*
result/**/*
**/*.mat
Report/data*.txt